ul.paginationItem {
    display: inline-block;
    padding: 0;
    margin: 0;
}

ul.paginationItem li {display: inline;}

ul.paginationItem li a {
    color: black;
    float: left;
    padding: 5px 13px;
    text-decoration: none;
    transition: background-color .3s;
    border: 1px solid #ddd;
}

ul.paginationItem li.active a{
    background-color: blue;
    color: white;
    border: 1px solid blue;
}

ul.paginationItem li:hover:not(.active) a{background-color: #ddd;}
